.logo {
    width: 120px;
}

.cartWidget {
    color: white;
}

.me-auto {
    margin-left: 15%;
}

.aperitivosCateg {
    margin-right: 30%;
    text-decoration: none;
    color: white;
}


.whiskiesCateg {
    margin-right: 30%;
    text-decoration: none;
    color: white;
}


.vinosCateg {
    margin-right: 30%;
    text-decoration: none;
    color: white;
}

.cervezasCateg{
    text-decoration: none;
    color: white;
}